body {
    background: linear-gradient(to right, #ff512f, #dd2476);
    font-family: Arial;
    text-align: center;
    color: white;
}

h1 {
    margin-top: 20px;
    font-size: 40px;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 12px;
  margin: 30px auto;
  width: max-content;
}

.cell {
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 10px;
  font-size: 42px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.cell:hover {
    background: #ffeaa7;
}

.x {
    color: #0984e3;
}

.o {
    color: #d63031;
}

.options {
    margin-top: 20px;
}

.options button {
    padding: 10px 15px;
    margin: 5px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #00cec9;
    color: black;
    font-weight: bold;
}

.options button:hover {
    background: #81ecec;
}

.dark {
    background: linear-gradient(to right, #2c3e50, #000000);
}
