body {
    background: linear-gradient(to right, #ff512f, #dd2476);
    font-family: Arial;
    text-align: center;
    color: white;
}

h1 {
    margin-top: 20px;
    font-size: 40px;
}

.board {
    width: 320px;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.cell {
    width: 100px;
    height: 100px;
    background: white;
    color: black;
    font-size: 40px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell:hover {
    background: #ffeaa7;
}

.x {
    color: #0984e3;
}

.o {
    color: #d63031;
}

.options {
    margin-top: 20px;
}

.options button {
    padding: 10px 15px;
    margin: 5px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #00cec9;
    color: black;
    font-weight: bold;
}

.options button:hover {
    background: #81ecec;
}

.dark {
    background: linear-gradient(to right, #2c3e50, #000000);
}
